<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='/js/popups.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    {% block extrahead %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
    <div class="message-wrapper">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="alert-message">
                    <div class="message-message">
                        {{ message }}
                    </div>
                    <div
                            class="message-x"
                            onclick="remove_message($(this))"
                    >
                        x
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
    <body>
        {% block navbar %}
            {% include "components/navbar.html" %}
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>