{% extends "base.html" %}
{% block title %}{{ _("strings.register_page") }}{% endblock %}

{% block content %}
    <div class="user-form-container">
        <form
                class="user-form"
                action="{{ url_for("register.register") }}"
                method="post"
        >
            <div class="form-head">{{ _("strings.register") }}</div>
            <div class="form-inputs">
                <input
                        name="username"
                        class="form-input text-input"
                        placeholder="{{ _("strings.username") }}"
                        required
                >
                <input
                        name="email"
                        class="form-input text-input"
                        placeholder="{{ _("strings.email") }}"
                        type="email"
                        required
                >
                <input
                        name="password1"
                        class="form-input text-input"
                        placeholder="{{ _("strings.password") }}"
                        type="password"
                        required
                >
                <input
                        name="password2"
                        class="form-input text-input"
                        placeholder="{{ _("strings.password") }}"
                        type="password"
                        required
                >
            </div>
            <button
                    class="form-btn btn-bottom"
                    type="submit"
            >
                {{ _("strings.register") }}
            </button>
            <div class="form-subtext">
                {{ _("strings.have_an_account") }}
                <a href="{{ url_for("login.login") }}">{{ _("strings.login_here") }}</a>
            </div>
        </form>
    </div>
{% endblock %}