@import "defs.scss";

body{
  margin: 0;
  padding: 0;
  
  background-color: $blueish-dark;
  color: $light-gray;

  font-family: "Inter", monospace;
  font-style: normal;
  font-weight: 500;
}

a{
  color: $light-salmon;
  text-decoration: none;
}

.message-wrapper{
  position: absolute;
  left: 50px;
  top: 30px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.alert-message{
  width: 300px;
  height: fit-content;

  display: inline-flex;
  border: 2px solid $light-salmon;
  border-radius: 10px;

  background-color: $blueish-dark;

  .message-message{
    width: 230px;
    padding: 10px 15px;

    word-break: break-word;
    word-wrap: break-word;
  }

  .message-x{
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 2px solid $light-salmon;
    color: $light-salmon;

    &:hover{
      cursor: pointer;
    }
  }
}

.navbar{
  box-sizing: border-box;
  width: 100%;
  height: 70px;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;

  color: $light-salmon;
  border-bottom: 2px solid $middle-gray;
  padding-inline: 30px;

  .button-group{
    display: inline-flex;
    align-items: center;
    column-gap: 20px;

    .navbar-nocellos{
      color: $salmon;
      font-size: 2em;
    }
  }
}

.email-sent-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px 40px;
  width: 400px;
  height: 300px;

  border: 2px solid $middle-gray;
  background-color: $blueish-dark;

  h2{
    color: $salmon;
  }
}