@import "defs.scss";

body{
  margin: 0;
  padding: 0;
  
  background-color: $blueish-dark;
  color: $light-gray;

  font-family: "Inter", monospace;
  font-style: normal;
  font-weight: 500;
}

a{
  color: $light-salmon;
  text-decoration: none;
}